<ul class="nav nav-tabs">
  <li><a href="#editProfile/basic" dataTarget="profileBasic" data-toggle="tab">Basic Details</a></li>
  <li><a href="#editProfile/education"  dataTarget="profileEducation" data-toggle="tab">Education</a></li>
  <li><a href="#editProfile/work"  dataTarget="profileWork"data-toggle="tab">Work</a></li>  
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="profileBasic"><p>Basic form</p></div>
  <div class="tab-pane" id="profileEducation"><p>Education form</p></div>
  <div class="tab-pane" id="profileWork"><p>Work form</p></div>  
</div>
