<div class="row">
	<div class="col-md-3">
		<div class="bs-sidebar hidden-print affix-top" role="complementary">
		        <ul class="nav bs-sidenav" data-spy="affix" data-offset-top="50">              
		            <li class="active">
					  <a href="#edit-profile">Profile Details</a>
	  					<ul class="nav">
							<li class=""><a href="#edit-general-settings">General Settings</a></li>
							<li class=""><a href="#edit-networks">Networks</a></li>
						</ul>
	   		    	</li>        
		        </ul>
		</div>
	</div>
	<div class="col-md-9" role="main">
		<div class="bs-docs-section">
			<div id="edit-profile"></div>			
			<form id="editProfile" class="pure-form pure-form-stacked">
				<fieldset>
			        <legend id="edit-general-settings">General Settings</legend>
			        <div class="pure-g-r">
			            <div class="pure-u-1-3">
			                <label for="first-name">First Name</label>
			                <input id="firstName" type="text" value="<%= firstName %>">
			            </div>
			            <div class="pure-u-1-3">
			                <label for="last-name">Middle Name</label>
			                <input id="middleName" type="text" value="<%= middleName %>">
			            </div>
			            <div class="pure-u-1-3">
			                <label for="last-name">Last Name</label>
			                <input id="lastLame" type="text" value="<%= lastName %>">
			            </div>
			            <div class="pure-u-1-3">
			                <label for="email">E-Mail</label>
			                <input id="email" type="email" required>
			            </div>

			            <div class="pure-u-1-3">
			                <label for="city">City</label>
			                <% if(!_.isNull(location)) { %>
			                	<input id="location" type="text" value="<%= location.name %>">
			                <% } else {%>
			                	<input id="location" type="text">
			                <% } %>
			                
			            </div>

			            <div class="pure-u-1-3">
			                <label for="gender">Gender</label>
			                <select id="gender" class="pure-input-1-2" value="<%= gender %>">
			                    <option>Male</option>
			                    <option>Female</option>
			                    <option>Undisclosed</option>
			                </select>
			            </div>
			        </div>
    		</fieldset>
				<fieldset>
					<legend id="edit-networks">Networks</legend>
				</fieldset>
			</form>
			
			<button type="submit" class="pure-button pure-button-primary">Save</button>
		</div>
	</div>
</div>