<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
	<div class="col-lg-4">
	  <img class="img-circle" src="http://www.alumnize.com/public/images/white-share.png" data-src="holder.js/140x140" alt="Generic placeholder image">
	  <h2>Networks</h2>
	  <p>Explore your alumni beyond your current social and professional networks.</p>
	  <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-4">
	  <img class="img-circle" src="http://www.alumnize.com/public/images/white-bag.png" data-src="holder.js/140x140" alt="Generic placeholder image">
	  <h2>Forums</h2>
	  <p>Discussions over specific topics/issues through an exclusive discussion board.</p>
	  <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-4">
	  <img class="img-circle" src="http://www.alumnize.com/public/images/white-forums.png" data-src="holder.js/140x140" alt="Generic placeholder image">
	  <h2>Jobs</h2>
	  <p>Get access to top notch alumni and recruiter posted jobs/internships.</p>
	  <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
	</div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider">
  <div class="row featurette">
	<div class="col-md-7">
	  <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
	  <p class="lead"></p>
	</div>
	<div class="col-md-5">
	  <img class="featurette-image img-responsive" src="images/500x500.png" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
	</div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
	<div class="col-md-5">
	  <img class="featurette-image img-responsive" src="images/500x500.png" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
	</div>
	<div class="col-md-7">
	  <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
	  <p class="lead"></p>
	</div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
	<div class="col-md-7">
	  <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
	  <p class="lead"></p>
	</div>
	<div class="col-md-5">
	  <img class="featurette-image img-responsive" src="images/500x500.png" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
	</div>
  </div>
  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->
