<div class="l-box">
    <h3><%= jobTitle %> - <%= experience %></h3> <a data-toggle="modal" class="open-AddBookDialog btn btn-primary" href="#jobDetail">Job Detail</a>
    <h5><%= company %> , <%= location %></h5>
</div>

<div id="jobDetail" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
	  <p><%= jobTitle %></p>
	  <p><%= jobDesc %></p>
	  <a data-toggle="modal" class="open-AddBookDialog btn btn-primary" href="#applyJob">Apply</a>
	</div>
   </div>
</div>

<div id="applyJob" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
	  <p>Application sent successfully..!!</p>
	 </div>
   </div>
</div>