<!-- Initialize linkedin api. TODO: need to put in proper place -->
<script type="text/javascript" src="http://platform.linkedin.com/in.js">/*
  api_key: 12sy2ze5kvxl

  authorize: true
*/</script>

<div id="login" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
	  <form class="form-signin">
		<h2 class="form-signin-heading">Please sign in</h2>
		<input type="text" class="form-control" placeholder="Email address" autofocus>
		<input type="password" class="form-control" placeholder="Password">
		<label class="checkbox">
		  <input type="checkbox" value="remember-me"> Remember me
		</label>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	  </form>
	  <ul>
            	<li class="linkedin-login-button">
                <img class="lnLogin" src="http://www.alumnize.com/public/images/login_linkedin.png" alt="Sign In with LinkedIn">
		</a>
                </li>
                <li class="divider">or</li>            
            	<li class="facebook-login-button">
		<img class="fbLogin" src="http://www.alumnize.com/public/images/login_facebook.png" alt="Sign In with Facebook">
		</li>            
	</ul>
	</div>
   </div>
</div>
