<div class="row">
	<div class="col-md-3">
		<div class="bs-sidebar hidden-print affix-top" role="complementary">
		        <ul class="nav bs-sidenav" data-spy="affix" data-offset-top="50">
		            <div class="input-group">
				      <form class="pure-form">
					    <fieldset class="pure-group">
					        <input type="text" class="pure-input-1" placeholder="Name">
					        <input type="text" class="pure-input-1" placeholder="Location">
					        <input type="email" class="pure-input-1" placeholder="Email">
					        <input type="text" class="pure-input-1" placeholder="College">
					        <input type="text" class="pure-input-1" placeholder="Employer">
					    </fieldset>
					    <button class="pure-button pure-input-1-2 pure-button-primary">Search</button>
					</form>
				    </div>
		        </ul>
		</div>
	</div>
	<div class="col-md-9" role="main">
		<div class="bs-docs-section">
			<div class="page-header">
			  <h1>People list</h1>
			</div>
			<div id="peopleList" class="peopleList pure-g-r">
				
			</div>
		</div>
	</div>
</div>
