<div class="row">
	<div class="col-md-3">
		<div class="bs-sidebar hidden-print affix-top" role="complementary">
		        <ul class="nav bs-sidenav" data-spy="affix" data-offset-top="50">              
		            <div class="input-group">
				      <input type="text" class="form-control">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="button">Search People</button>
				      </span>
				    </div>
		        </ul>
		</div>
	</div>
	<div class="col-md-9" role="main">
		<div class="bs-docs-section">
			<div class="page-header">
			  <h1>People list</h1>
			</div>

			<a href='#people'>
			    <img width="50" height="50" src="pics/<%= firstName %>_<%= lastName %>50.jpg" style="float:left;margin-right: 10px;"/>
			    <p class="list-item"><%= firstName %> <%= lastName %><br /></p>
			</a>

			<button class="previous" type="button">Previous</button>
			<button class="next" type="button">Next</button>

			
		</div>
	</div>
</div>