<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#home">Alumnize</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">           
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Associations <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#home/nitt">National Institute of Technology,Trichy</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
       <p class="navbar-text pull-right">Signed in as <a href="#person/1" class="navbar-link">Niranjan Bala</a></p>
      <li><a href="#editProfile">Edit Profile</a></li>
      <li><a href="#logout">Logout</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<ul class="nav nav-justified">
          <li class="active"><a href="#people">People</a></li>
          <li><a href="#jobs">Jobs</a></li>
          <li><a href="#startups">Startup</a></li>
          <li><a href="#events">Events</a></li>
          <li><a href="#higherEd">Higher Ed</a></li>          
 </ul>