@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');
@charset "utf-8";
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form,legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
ul{display:block;}
ul li{list-style:none;}
li ul, li ol {margin:0;}
ul, ol {margin:0;padding:0;}
ul {list-style:none;}
ol {list-style:none;}
hr {background:#EEE;color:#EEE;clear:both;float:none;width:100%;height:1px;margin:0 0 1.45em;border:none; margin:8px 0;}
hr.space {background:#fff;color:#fff;visibility:hidden;}
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}
.spacer{clear:both; height:10px;}
.noclear{ clear:both; height:0; display:none;}

/********** Layout **********/
body{ background:url(images/coming.png);}
#container{ margin:4% auto; width:980px;}
#content-holder{width:800px; margin:0 auto; background:#225471; padding:30px; -webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;-webkit-background-clip: padding-box;-moz-background-clip:padding;background-clip:padding-box; box-shadow:0px 0px 10px #487f9f;color:#FFF; font-family:'Droid Sans',Arial, Helvetica, sans-serif;}

#left{float:left; width:275px;}
.logo{ margin-top:30px;}
#right p.tick{ background:url(images/tick.png) no-repeat left center; line-height:40px; padding-left:40px; font-size:21px; font-weight:bold;}
a.invite{background: #276588 url(images/invite.png) no-repeat 8px center; margin-left:40px; padding:10px;padding-left:34px; font-size:14px; color:#90c1dc; line-height:24px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;box-shadow:0px 1px 1px #1a4963;}
a.invite:hover{text-decoration:none; background:#337295 url(images/invite.png) no-repeat 8px center;}
.definition{ font-size:14px;margin:40px 0 0 20px; font-weight:bold;}
.definition .sub{padding:0 0 0 10px; border-left:#888 1px solid; margin:15px 0 0 10px; font-size:12px; font-weight:normal; line-height:200%;}
#right{ float:left; margin-left:30px;width:450px;padding-left:40px; border-left:#396c89 1px solid;}
#right h1{ font-size:24px; font-weight:bold; text-shadow:0px 2px 2px #333; margin-bottom:15px; display:block;}
#right p{ font-size:14px; margin:10px 0;text-shadow:0px 1px 1px #333; color:#f3f3f3;}
.connect{ margin:30px 0 0 15px; display:block;}
.footer{ border-top:#396c89 1px solid; padding:25px 0 0 0; clear:both; margin-top:2px;}
.footer ul li{ float:left; font-size:12px; margin-right:20px;}
.footer ul li a{ color:#90c1dc; display:block;padding-left:24px; }
.footer ul li a.facebook{ background:url(images/fb-icon.png) no-repeat left center; padding-left:16px;}
.footer ul li a.twitter{ background:url(images/twitter-icon.png) no-repeat left center;}
.footer ul li a.gplus{ background:url(images/gplus-icon.png) no-repeat left center;}
.after-connect,.before-connect{ margin:25px 0;}